<?xml version="1.0"?>
<robot name="car4" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="lidar_length" value="0.1" />
    <xacro:property name="lidar_width" value="0.1" />
    <xacro:property name="lidar_height" value="0.1" />

    <link name="lidar_link">
        <visual>
            <geometry>
                <box size="${lidar_length} ${lidar_width} ${lidar_height}"/> 
            </geometry>
            <material name="red" />
        </visual>
        <collision>
            <geometry>
                <box size="${lidar_length} ${lidar_width} ${lidar_height}"/> 
            </geometry>                
        </collision>
        <xacro:box_inertia m="0.1" l="${lidar_length}" w="${lidar_width}" h="${lidar_height}"
                           xyz="0 0 0" rpy="0 0 0" />
    </link>

    <joint name="second_lidar_joint" type="fixed">
        <origin xyz="0.0 0.0 0.3" rpy="0.0 0.0 0.0"/>
        <parent link="second_link"/>
        <child link="lidar_link"/>
    </joint>

    <gazebo reference="lidar_link">
        <sensor type="ray" name="lidar_sensor">
            <update_rate>10.0</update_rate>
            <visualize>true</visualize>
            <!-- <topic>lidar_scan</topic>
            <frame_name>lidar_link</frame_name> -->
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>30.0</max>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.5</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="lidar" filename="libgazebo_ros_ray_sensor.so">
            </plugin>
        </sensor>
    </gazebo>



     <gazebo reference="lidar_link">
        <material>Gazebo/Red</material>
    </gazebo>

</robot>
